<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Detail</title>
</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h1>{{ title }}</h1>
{{ instance.id }}.
{{  instance.title|capfirst }}
{{ instance.content|linebreaks }}
{{ instance.timestamp|linebreaks }}
{{ instance.updated|linebreaks }}

</body>
</html>